.news {
  background: rgb(230, 228, 228);
}
.viewAvatar {
  width: 50%;
  height: 400px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 20px;
  background: #f6f6f6;
  border-radius: 10px;
  box-shadow: 0px -1px 1px 0px rgb(201, 199, 199);
}
.title {
  text-align: center;
  color: white;
  margin-left: 5px;
  margin-right: 5px;
  color: black;
}
#subCommentAvatar {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-top: 100px;
  justify-content: space-around;
}

ul li {
  margin: 1%;
}

.avatarTitle {
  font-weight: bolder;
}
.avatarCls {
  text-align: center;
}
.centeredItem {
  text-align: center;
}
.paginationButton {
  width: 150px;
  height: 40px;
  border: none;
  font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
}

.paginationButton:hover {
  background: black;
  color: white;
}

.form {
  width: 40%;
  height: 300px;
  margin: 0 auto;
}

.subcard {
  width: 20%;
  height: 200px;
  background: black;
  position: absolute;
  bottom: 0;
}
.name {
  color: white;
}
.subComment {
  color: white;
}
.deleteButton {
  cursor: pointer;
  color: red;
  margin-right: 5px;
}
.deleteButton:hover {
  text-decoration: underline;
}
.editButton {
  cursor: pointer;
  background: rgb(114, 113, 114);
  color: rgb(255, 255, 255);
  float: right;
  padding: 5px;
  width: 40px;
  vertical-align: center;
}

.inputDiv {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-bottom: 15px;
}
input {
  height: 40px;
}
.news_Comment {
  text-align: center;
  position: absolute;
  top: 600px;
  left: 630px;
}
.newsTitle {
  text-align: center;
  font-weight: bolder;
  letter-spacing: 0.2rem;
}

#display-image {
  width: 70px;
}

.formHeadingTitle {
  margin-top: 90px;
}
.validateName {
  display: none;
  color: red;
}
.validateComment {
  display: none;
}
#errorMsg {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  font-size: 20px;
}
.editCard {
  width: 40%;
  margin: 0 auto;
  display: none;
}
.showCard {
  width: 40%;
  margin: 0 auto;
}
